.popup__container {
    position: relative;
    max-width: 430px;
    width: 100%;
    min-height: 181px;
    background: #fff;
    border-radius: 10px;
    color: #000;
    padding: 34px 36px;
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 584px) and (min-width: 320px) {
    .popup__container {
        max-width: 282px;
        width: 100%;
        padding: 25px 22px;
    }
}